@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-black hover:text-white font-bold transition-all delay-100 duration-300 text-lg;
  }
  h3 {
    @apply text-gray-600 font-semibold;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 190px;
}

#__next {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
